.box {
  height: 1024px;
  position: relative;
  width: 900px;
}

.box .group {
  height: 1024px;
  left: 833px;
  position: fixed;
  top: 0;
  width: 900px;
}

.box .rectangle {
  height: 1024px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 832px;
}

.box .div {
  background: linear-gradient(
    150deg,
    rgba(145, 172, 143, 0.5) 0%,
    rgba(75, 89, 69, 0.5) 100%
  );
  border-radius: 450px 0px 0px 0px;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 900px;
}
